[submodule "COREJAVA_SAMIKSHA_PATIL"]
	path = COREJAVA_SAMIKSHA_PATIL
	url = https://github.com/Samiksha0404/COREJAVA_SAMIKSHA_PATIL.git
[submodule "MKPITS_HTML_SAMIKSHA_PATIL"]
	path = MKPITS_HTML_SAMIKSHA_PATIL
	url = https://github.com/Samiksha0404/MKPITS_HTML_SAMIKSHA_PATIL.git
[submodule "MKPITS_CSS_SAMIKSHA_PATIL"]
	path = MKPITS_CSS_SAMIKSHA_PATIL
	url = https://github.com/Samiksha0404/MKPITS_CSS_SAMIKSHA_PATIL.git
