body {
  background-image: url("giphy.gif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: max-content;
}
.para {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 40px;
  font-weight: bold;
}
