ul {
  list-style-image: url("images/audi.png");
  /* list-style-image: url("images/bugatti.png");
  list-style-image: url("images/bmw.png");
  list-style-image: url("images/lamborgini.jpg");
  list-style-image: url("images/rangerover.jpg"); */
}
