div {
  color: darkgreen;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  text-shadow: 3px 4px 5px blueviolet;
  text-transform: uppercase;
  word-wrap: break-word;
}
p {
  line-height: 50px;
  color: darkblue;
  font-weight: bold;
  white-space: 30px;
  word-spacing: 10px;

  /* word-wrap property allows long words to be able to be broken and wrap onto the next line. We can set this property to either normal or break-word.
 */
}
span {
  vertical-align: super;
}
