div {
  color: darkgreen;
  text-align: center;
  font-weight: bold;
  font-size: larger;
  text-shadow: 3px 4px 5px blueviolet;
  text-transform: uppercase;
}
p {
  line-height: 80px;
  color: darkblue;
  font-weight: bold;
}
span {
  vertical-align: super;
}
